* {
  padding: 0;
  margin: 0;
}

#gotoHome {
  border-radius: 10px;
  border-color: white;
  color: white;
  border-width: 1px;
  padding: 10px;
  cursor: pointer;
  font-weight: bold;
  background-color: black;
}

#gotoHome:hover {
  background-color: rgb(206, 37, 37);
  color: white;
  border: transparent;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wrapper {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.animated-check {
  height: 10em;
  width: 10em;
}

.animated-check path {
  fill: none;
  stroke: #7ac142;
  stroke-width: 4;
  stroke-dasharray: 23;
  stroke-dashoffset: 23;
  animation: draw 1s linear forwards;
  stroke-linecap: round;
  stroke-linejoin: round;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}
